:root {
    --font-comfortaa: 'Comfortaa', cursive;
    --font-noto-sans: 'Noto Sans KR', sans-serif;
    --font-gugi: 'Gugi', cursive;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.align-items-baseline {
    align-items: baseline;
}

.br {
    width: 100%;
    height: 0;
    display: inline-block;
}

.tables {
    padding: 1rem;
    margin-top: .3rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    background-color: rgba(var(--pl-gray-rgb), 0.1);
}

.resizer {
    height: 100%;
    width: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: col-resize;

    .dotted {
        display: block;
        width: 5px;
        height: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        background-color: gray;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}

@media (max-width: 576px) {
    #resizer {
        display: none;
    }
}

aside.side-bar {
    transition: width 150ms;
    -webkit-transition: width 150ms;
    -moz-transition: width 150ms;
    -ms-transition: width 150ms;
    -o-transition: width 150ms;
}

th,
td {
    word-break: break-word;
}

.hljs {
    .hljs-ln-numbers {
        padding-right: 1rem;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        text-align: right;
    }

    .hljs-ln-code {
        padding-left: 1rem;
        word-spacing: 0.2em;
        letter-spacing: 0.05em;
    }
}

$paddings: 0;

.highlight {
    position: relative;
    animation: rightMove 300ms ease both;
    -webkit-animation: rightMove 300ms ease both;

    &::after {
        content: '';
        position: absolute;
        top: $paddings + rem;
        bottom: $paddings + rem;
        left: $paddings + rem;
        right: $paddings + rem;
        border-left: 3px solid coral;
        animation: rightMoveAfter 300ms ease both;
        -webkit-animation: rightMoveAfter 300ms ease both;
    }
}

@keyframes rightMove {
    0% {
        left: 0rem;
    }

    100% {
        color: coral;
        left: 0.5rem;
    }
}

@keyframes rightMoveAfter {
    0% {
        opacity: 0;
        left: $paddings + rem;
    }

    100% {
        opacity: 1;
        left: $paddings - 2 + rem;
    }
}

@mixin overflow-settings($size) {
    .overflow-x-#{$size}hidden {
        overflow-x: hidden;
    }

    .overflow-y-#{$size}hidden {
        overflow-y: hidden;
    }

    .overflow-#{$size}hidden {
        overflow-y: hidden;
    }

    .overflow-x-#{$size}visible {
        overflow-x: visible;
    }

    .overflow-y-#{$size}visible {
        overflow-y: visible;
    }

    .overflow-#{$size}visible {
        overflow-y: visible;
    }

    .overflow-x-#{$size}auto {
        overflow-x: auto;
    }

    .overflow-y-#{$size}auto {
        overflow-y: auto;
    }

    .overflow-#{$size}auto {
        overflow-y: auto;
    }
}

@include overflow-settings('');

@media (min-width: 576px) {
    @include overflow-settings('sm-');
}

@media (min-width: 768px) {
    @include overflow-settings('md-');
}

@media (min-width: 992px) {
    @include overflow-settings('lg-');
}

@media (min-width: 1200px) {
    @include overflow-settings('xl-');
}

@media (min-width: 1400px) {
    @include overflow-settings('xxl-');
}

table {
    &.table {
        margin-top: 0;
    }

    th,
    td {
        sup {
            color: inherit !important;
        }

        sub {
            color: inherit !important;
        }
    }

    td {
        vertical-align: middle;
    }

    ul li {
        list-style: disc;
    }

    ol li {
        list-style: decimal;
    }
}

ul:not(.list-group, .w-inline-flex),
ol:not(.list-group, .w-inline-flex) {
    margin-left: 1.5em;
}

ol.toc {
    li {
        list-style: decimal !important;
    }
}

ul.toc {
    li {
        list-style: circle !important;
    }
}

nav {

    ul,
    ol {
        margin: 0 !important;
    }
}

img,
a {
    -webkit-user-drag: none;
    -moz-window-dragging: none;
}

img {
    width: 90%;
}

[scroll-to] {
    cursor: pointer;
    transition: display 150ms, color 150ms, background-color 150ms;
    -webkit-transition: display 150ms, color 150ms, background-color 150ms;
    -moz-transition: display 150ms, color 150ms, background-color 150ms;
    -ms-transition: display 150ms, color 150ms, background-color 150ms;
    -o-transition: display 150ms, color 150ms, background-color 150ms;
}

[put-type="wiki"] {
    line-height: 1.8;
    word-spacing: 0.13em;

    p {
        margin-bottom: 1em;
    }
}

@media (max-width: 575px) {
    [put-type="wiki"] {
        flex: 0 0 auto;
    }
}

.imgWrap {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 1200;
    background-color: rgba(0, 0, 0, 0.5);

    button.del-btn {
        border: none;
        color: white;
        position: fixed;
        top: 30px;
        right: 30px;
        background-color: rgb(255, 88, 116);
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;

        &:focus-within {
            box-shadow: 0 0 0 5px rgba(255, 88, 116, 0.5);
        }
    }

    .imgInner {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        img {
            width: 95% !important;
            margin: 5rem 1rem;
        }
    }
}

main {
    position: relative;
    overflow-x: hidden;
}

.main {
    min-height: 15em;
    overflow-y: auto;
    flex: 0 1 auto;
}

@media (min-width: 576px) {
    .main {
        overflow-y: hidden;
        flex: 1 1 auto;
    }
}

a {
    &>span {
        pointer-events: none;
    }
}

.list-item:not(.frt-none)::before {
    content: '';
    display: inline-block;
    margin-left: .5em;
}

.list-item:hover {
    box-shadow: inset 0 0 9999px rgba(var(--pl-subpoint-rgb), 0.1);
}

/* 
	dark mode start
 */

[data-switch="mode"] {
    display: none;
}

.prev {
    position: fixed;
    bottom: 70px;
    right: 40px;
}

ul.reset {
    list-style-type: disc;
    list-style-position: inside;
}

ol.reset {
    list-style-type: decimal;
    list-style-position: inside;
}

.reset {
    li {
        padding: .2rem 0 .2rem 0;
        text-indent: -1.5em;
        margin-left: 1.5em;
        padding-right: 1.5em;
    }
}

[title]:not(.ref, img, a) {
    position: relative;

    &::before {
        content: '설명';
        font-size: 0.6rem;
        color: rgb(255, 131, 141);
        position: absolute;
        top: -1.5em;
        left: 3em;
    }
}

kbd {
    white-space: nowrap;

    a[href] {
        color: inherit !important;

        &.ref {
            &::after {
                top: -.3em;
            }
        }
    }

    sub {
        color: inherit !important;
    }

    span {
        color: inherit !important;
        &[class|="text"]{
            color: inherit !important;
        }
    }
}

ul.reset {
    ul {
        list-style-type: circle;
        list-style-position: inside;
        margin-left: 15px;
        padding: 0;
    }

    ol {
        list-style-type: lower-latin;
        list-style-position: inside;
        margin-left: 15px;
        padding: 0;
    }
}

ol.reset {
    ul {
        list-style-type: circle;
        list-style-position: inside;
        margin-left: 15px;
        padding: 0;
    }

    ol {
        list-style-type: lower-latin;
        list-style-position: inside;
        margin-left: 15px;
        padding: 0;
    }
}

@media (max-width: 575px) {
    .prev {
        position: fixed;
        bottom: 100px;
        right: 20px;
    }
}

figure {
    img {
        width: 100%;
    }
}

#mode {
    height: 55px;
}

label {
    &#mtWrap {
        user-select: none;
        cursor: pointer;
        perspective: 200px;
        /* position: absolute; */
        top: 15px;
        right: 8%;
        z-index: 1020;
        display: inline-block;
        width: 4rem;
        height: 2rem;
        background-color: rgba(114, 157, 250, 0.5);
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }

    &.on>span {
        left: 0%;
    }

    &.off>span {
        left: 50%;
    }

    &>span {
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        width: 2rem;
        height: 2rem;
        background-color: rgba(0, 0, 0, .5);
        color: wheat;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -webkit-transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -moz-transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -ms-transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -o-transition: 0.3s left cubic-bezier(0.25, 0.46, 0.45, 0.94);

        &::before {
            position: absolute;
        }
    }
}


body {
    overflow-x: auto;
    overflow-y: hidden;
    font-family: var(--font-noto-sans);
}

.gnb {
    box-shadow: 0 0 .5rem rgba(var(--pl-dark-rgb), .2);

    #gnbMenu {
        text-transform: capitalize;
        transition: transform 150ms !important;
        -webkit-transition: transform 150ms !important;
        -moz-transition: transform 150ms !important;
        -ms-transition: transform 150ms !important;
        -o-transition: transform 150ms !important;

        overflow-x: auto;
        white-space: nowrap;
        flex: 1 0 0%;
        flex-wrap: nowrap;
        padding-left: 1rem;
        padding-right: 1rem;

        &::-webkit-scrollbar {
            background-color: inherit;
            height: 2px;
            width: 2px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(63, 172, 163, 0.5);
            border: 3px solid inherit;
            height: 2px;
            width: 2px;
        }
    }

    .brand {
        font-family: var(--font-comfortaa);
        font-weight: bold;
    }
}

.roundText {
    font-family: var(--font-gugi);
}

.ref::after {
    content: 'ref';
    top: -1em;
    text-indent: 0; // ol ul 에서 ref 가려지는 버그 수정
    // height: 1.05em;
    font-size: .5em;
    overflow: hidden;
    margin-left: .2em;
    position: relative;
    padding-right: .5em;
    display: inline-block;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.35;
    text-transform: capitalize;
    width: 100%;
}

body {
    counter-reset: sup tableCount img cb;
}

pre {
    &::before {
        color: white;
        background: rgb(255, 67, 123);
        padding: .3rem .6rem;
        font-size: .7rem;
        text-transform: capitalize;
        counter-increment: cb;
        content: "code block [ "counter(cb) " ]";
        border-radius: 0.3rem 0.3rem 0 0;
        -webkit-border-radius: 0.3rem 0.3rem 0 0;
        -moz-border-radius: 0.3rem 0.3rem 0 0;
        -ms-border-radius: 0.3rem 0.3rem 0 0;
        -o-border-radius: 0.3rem 0.3rem 0 0;
    }
}

table:not(.hljs-ln) {
    font-size: .7rem;
    color: rgb(255, 131, 245);
    position: relative;

    &::before {
        position: absolute;
        font-weight: bold;
        top: -2em;
        font-size: .5rem;
        counter-increment: tableCount;
        content: "[ 표 "counter(tableCount) " ]";
    }
}

sup {
    &.img {
        font-size: .7rem;
        color: rgb(255, 156, 131);

        &::after {
            position: relative;
            font-weight: bold;
            top: -.5rem;
            font-size: .5rem;
            counter-increment: img;
            content: counter(img);
        }
    }

    &:not(.table, .img) {
        color: rgb(164, 131, 255);

        &::after {
            position: relative;
            font-weight: bold;
            top: -.5rem;
            font-size: .5rem;
            counter-increment: sup;
            content: counter(sup);
        }
    }
}

sub {
    position: relative;
    color: rgb(233, 117, 35);
    font-size: .6rem;
}

a[href] {
    &.ref {
        color: rgba(var(--pl-brand-rgb), 1);
    }
}

body {
    &.dark {
        background-color: rgba(var(--pl-dark-rgb-2), 1);
        color: white;

        .focused {
            box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.1), inset 0 0 0 9999px rgba(255, 255, 255, 0.1);
        }

        .gauge-bar {
            background-color: rgb(233, 117, 35);
        }

        .block-time {
            position: relative;
            font-size: .6rem;
            color: rgb(225, 255, 94);
            right: -8px;
            bottom: -12px;
        }

        table.table {
            td {
                color: inherit !important;
            }
        }

        footer {
            background-color: rgba(var(--pl-dark-rgb-1), 1) !important;
            color: inherit;

            a[href] {
                color: inherit;
            }
        }

        nav.gnb.gnb-primary {
            background-color: rgba(var(--pl-dark-rgb-1), 1) !important;
        }

        time {

            &,
            &.text-dark {
                color: white !important;
            }
        }

        #resizer.resizer {
            background-color: rgba(var(--pl-dark-rgb-1), 1) !important;
        }

        section {
            background-color: rgba(var(--pl-dark-rgb-2), 1) !important;
            color: inherit;

            button {
                color: inherit !important;
            }
        }

        #lsb {
            background-color: rgba(var(--pl-dark-rgb), 1) !important;
            color: inherit;

            .list-group {
                li {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }

        .tag {
            color: white;
        }
    }
}

@keyframes page-load {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.page-loading::before {
    content: " ";
    display: block;
    position: fixed;
    z-index: 2000;
    height: 2px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(var(--pl-subpoint-rgb), 1);
    animation: page-load ease-out 150ms;
    -webkit-animation: page-load ease-out 150ms;
}

b {
    position: relative;
    font-weight: bold;
    color: rgb(227 74 255);
    text-decoration: underline wavy rgba(227 74 255 / 0.3) 2.5px;
}

em {
    font-style: italic;
}

.focused {
    box-sizing: content-box;
    pointer-events: none;
    top: 50%;
    left: 50%;
    z-index: 1200;
    position: absolute;
    border-radius: .3rem;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.1);
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transform: translate(-1rem, -1rem);
    -webkit-transform: translate(-1rem, -1rem);
    -moz-transform: translate(-1rem, -1rem);
    -ms-transform: translate(-1rem, -1rem);
    -o-transform: translate(-1rem, -1rem);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;

    .block-time {
        position: relative;
        font-size: .6rem;
        color: rgba(146, 79, 255, 0.7);
        right: -8px;
        bottom: -12px;
    }
}

.scroll-gauge {
    height: 4px;
    position: relative;
    background-color: transparent;

    .gauge-bar {
        display: inline-block;
        width: 0%;
        height: 100%;
        position: absolute;
        background-color: rgb(236, 77, 255);
        transition: 500ms 100ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -webkit-transition: 500ms 100ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: 500ms 100ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -ms-transition: 500ms 100ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -o-transition: 500ms 100ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
}

[scroll-focus].focus-highlight {
    position: relative;

    &::before {
        content: '👉';
        position: absolute;
        right: 100%;
        top: 50%;
        font-size: 2rem;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    &::after {
        content: '';
        position: absolute;
        top: -.3rem;
        left: -.3rem;
        right: -.3rem;
        bottom: -.3rem;
        animation: focus-highlight 3500ms ease both alternate;
        -webkit-animation: focus-highlight 3500ms ease both alternate;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }
}

@keyframes focus-highlight {
    0% {
        box-shadow: inset 0 0 0 9999px rgba(164, 131, 255, 0.3);
    }

    15% {
        box-shadow: inset 0 0 0 9999px rgba(164, 131, 255, 0);
    }

    35% {
        box-shadow: inset 0 0 0 9999px rgba(164, 131, 255, 0.3);
    }

    55% {
        box-shadow: inset 0 0 0 9999px rgba(164, 131, 255, 0);
    }

    75% {
        box-shadow: inset 0 0 0 9999px rgba(164, 131, 255, 0.3);
    }

    100% {
        box-shadow: inset 0 0 0 9999px rgba(164, 131, 255, 0);
    }
}

hr {
    border: none;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.next-post {
    position: fixed;
    top: 75px;
    right: 40px;
    padding-right: .5rem;
    z-index: 1170;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;

    button {
        &::after {
            content: ' 👉';
            position: relative;
            left: 10px;
            opacity: 0;
            font-size: 0;
        }

        &:hover {
            &::after {
                font-size: 1em;
                opacity: 1;
                left: 0px;
                transition: 150ms ease-in-out;
                -webkit-transition: 150ms ease-in-out;
                -moz-transition: 150ms ease-in-out;
                -ms-transition: 150ms ease-in-out;
                -o-transition: 150ms ease-in-out;
            }
        }
    }
}